:root {
  --camera-x: 0;
  --camera-y: 0;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

back,
background,
signs,
stars {
  display: block;
}

back {
  height: 100%;
}

background {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;

  back img {
    position: absolute;
    top: 50%;
    left: 50%;
    object-fit: cover;
    height: 150%;
    width: 150%;
    // transform: translate(
    //   calc(var(--camera-x) - 50%),
    //   calc(var(--camera-y) - 50%)
    // );
    transform: translate(-50%, -50%);
  }

  stars {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: none;
    z-index: 9999;
    img {
      position: fixed;
      width: 20px;
      top: 0;
      left: 0;
      transform-style: preserve-3d;

      &:hover {
        opacity: 0.3 !important;
      }

      &.face {
        pointer-events: all;
      }
    }
  }
}

signs {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  transition: none;
  sign > img {
    width: 150px;
    position: absolute;
    top: 0;
    left: 0;
  }
}

modal {
  position: fixed;
  z-index: 999999;
  background-color: rgba($color: #000000, $alpha: 0.7);
  width: 100%;
  height: 100%;
  top: 0;
  overflow: auto;
  padding: 2em;
  display: none;

  &.open {
    display: block;
  }

  .modal-container {
    .picto-sign {
      width: 300px;
      margin: 0 auto;
      display: block;
      margin-bottom: 3em;
    }
  }

  .modal-text {
    background-color: white;
    border-radius: 30px;
    padding: 30px;
    color: #171245;

    .intro-text {
      margin-top: 0;
    }

    .stats {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
      grid-auto-rows: auto;
      * {
        margin-top: 0.1rem;
        margin-bottom: 0;
      }

      img {
        height: 50px;
        vertical-align: middle;
        margin-right: 17px;
      }
    }
  }
}
